<!-- Status Bar -->
<div class="status-bar">
  <div class="status-left">
    <div class="status-item" id="currentProjectStatus">
      <svg class="status-icon" viewBox="0 0 24 24">
        <path
          d="M10 4H4c-1.11 0-2 .89-2 2v12c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2h-8l-2-2z"
        />
      </svg>
      <span id="statusBarProjectPath">No project opened</span>
    </div>
  </div>
  <div class="status-right">
    <!-- 编辑器模式文字 -->
    <span id="editorModeText" class="editor-mode-text"></span>
  </div>
</div>
